django>=1.8.0, <1.9.0
django_static_jquery==2.1.1
git+ssh://git@github.com/benbacardi/django-jquery-ui.git#egg=django-jquery-ui
django-localflavor==1.1
easy_thumbnails==2.2.1
django-image-cropping==1.0.2
django-bootstrap-form
