{% extends 'base.html' %}
{% block staticfiles %}{% load static %}{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block bar %}
        <div class="">
        <nav class="navbar navbar-default navbar-custom" role="navigation" >
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a style="color:white" class="navbar-brand bar-font" href="{% url 'home_page'%}"><h4>textdoar</h4></a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="col-sm-3 col-md-3">
        {% block search %}{% endblock %}
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="bar-font" style="color:white" href="{% url 'isbn_entry_page' user_name %}">
          List a Textbook</a></li>
        <li> <a style="color:white" href="{% url 'cart_page' user_name %}">
            <span class="fa-stack fa-1x">
                        <i class="fa  fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-2x fa-inverse"></i>
                    </span>
        </a> </li>
        <li><a class="bar-font"style="color:white" href="{% url 'user_home_profile_page' user_name %}">Your Home Page</a></li>
        <li><a class="bar-font" style="color:white" href="{% url 'account_page' user_name %}">Your Account Page</a></li>
        <li><a class="bar-font" style="color:white" href="{% url 'logout'%}">Sign Out</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
    {% endblock %}
     {% block body %}
     {% endblock %}
</body>
</html>