{% block staticfiles %}{% load staticfiles %}{% load static %}{% endblock %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Textdoor{% endblock %}</title>
    {% block jquery_head %}
     <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css'%}">
    {% endblock %}
    <meta charset="UTF-8">
{% block javascript %}{% endblock %}
</head>
<body>
{% block modal_view_dialog %}{% endblock %}
{% block check_for_login_user %}
{% endblock %}
{% block bar %}{% endblock %}
{% block search %}{% endblock %}
<br>
    <div class="content">{% block body %}{% endblock %}</div>
    <br>
{% block open-box %}
{% endblock %}
    <div class="footer">Elude LLC 2015</div>
</body>
</html>