{% extends 'search_results.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block body %}
    <div class="container">
    <div class="row text-center jumbotron">
        <h1>
            How to buy a book
        </h1>
        <hr>
        <ul>
            <ol>
                <h4>1.  Search for the book that you desire by entering its Title, ISBN, or Author.</h4>

            </ol>
            <ol>
               <h4> 2.  If the book you are searching for is not there we will notify you when it becomes available. </h4>

            </ol>
            <ol>
              <h4>  3.	Enter delivery address and expect your book to arrive in the next 36 hours! </h4>

            </ol>
            <ol>
               <h4> 4.  If the book is available, add to cart and check out. All payments are process through stripe’s payment gateway.</h4>
            </ol>
        </ul>
    </div>
    </div>
{% endblock %}
</body>
</html>