{% extends 'search_results.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block body %}
    <div class="container">
    <div class="row">
        <h3>
            How to buy a book
        </h3>
        <hr>
        <ul>
            <ol>
                1.  Search in the book you desire by entering its Title, ISBN, or Author.

            </ol>
            <ol>
                2.  If the book you are searching for is not there we will notify you when it becomes available.

            </ol>
            <ol>
                3.	Enter delivery address and expect your book to arrive in the next 36 hours!

            </ol>
            <ol>
                4.  If the book is available, add to cart and check out. All payments are process through stripe’s payment gateway.
            </ol>
        </ul>
    </div>
    </div>
{% endblock %}
</body>
</html>