{% extends 'search_results.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Isbn Finder</title>
</head>
<body>
{% block body %}
    <form method="post">{% csrf_token %}
    {{ errors }}
        <label>
            Insert the ISBN in here {{ error }}
            <input type="text" name="isbn_value" placeholder="Search ISBN Number">
        </label>
        <input type="submit" value="Search" name="search_value">
        <div class="container" id="isbn_value_number">
            {% if value and isbn_value and check_value and isbn_values%}
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ isbn_picture }}" alt="This should show a picture">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Continue" name="finalizing_list">
                    </div>
                </div>
                <div class="row">
                    <label>
                        Author(s):
                    </label>
                        {{ isbn_author}}
                    </div>
                <div class="row">
                    <label>
                        Title:
                    </label>
                    {{ isbn_title }}
                </div>
                <div class="row">
                    <label>
                        ISBN-13(s):
                    </label>
                    {{ isbn_isbn }}
                </div>
                <div class="row">
                     <label>
                        Book Edition
                        <input class="form-control" type="text" name="Book Edition i.e volume">
                    </label>
                </div>
                {% endif %}
                {% if error%}
                    Sorry, we could not retrieve the isbn number that you entered from our friends at google books, however
                    you can still list the book, and upload the picture by clicking on this link.
                    <input type="submit" name="manually_list" value="List Your Textbook">
            {% endif %}
            </div>
    </form>
{% endblock %}
</body>
</html>