{% extends 'bar.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Log in</title>
    {% block javascript %}
        <script>
            $(document).ready(function(){
                    $("#log-in-form").modal("show");
                    $("#log-in-button").click(function(){
                        $("#log-in-form").modal("show");
                    })
                });
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div>
            <div class="col-md-12 text-center">
                    <div class="jumbotron">
                        <h2>Log in or Sign Up!</h2>
                                <hr>
                        <p><a class="btn-primary btn-lg" href="{% url 'user_registration_page' %}"> Sign Up!</a> </p>
                                <hr>
                        <p><button id="log-in-button" class="btn-primary btn-lg">Login!</button> </p>
                    </div>
            </div>

                    <div id="log-in-form" class="col-lg-12 modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <br>
                                    <br>
                                            <h3><b>Textdoar Login</b></h3>
                                            <form class="form-group container col-md-6"method="post">{% csrf_token %}
                                                    {% load bootstrap %}
                                                    {{ form|bootstrap}}
                                                <input type="hidden" name="next" value="{{ request.GET.next }}" />
                                                 <div class="row">
                                                            <div class="col-md-4">
                                                                <input class="btn btn-danger btn-lg" type="submit" value="Log In">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <h5>OR</h5>
                                                            </div>
                                                    <div class="col-md-3">
                                                        <a class="btn btn-success btn-lg" href="{% url 'user_registration_page' %}">Sign Up!</a>
                                                    </div>
                                                </div>
                                            </form>
                                                <div class="row">
                                                    <div class="col-lg-8 text-center">
                                                        <a id="password-send-button" class="alert-link" href="{% url 'password_reset' %}"><p style="color:white">Forgot Password or Username?</p></a>
                                                    </div>
                                                </div>

                                </div>
                    </div>
        </div>
{% endblock %}
</body>
</html>