{% extends 'search_results.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>List New Book</title>
    {% block javascript %}
        <script>
            function openSpecifiedDateInput() {
                if(document.getElementById("date_specified_check").checked){
                    $("#specified_date").show(1000);
                    $('#end_of_semester_id').prop('checked', false);
                    $('#now').removeAttr('checked', false);
                    $("#info").show(1000);
                }
                else if(document.getElementById("end_of_semester_id").checked){
                    $('#date_specified_check').prop('checked', false);
                    $('#now').prop('checked', false);
                    console.log("called");
                    $("#info").show(1000);
                }
                else if(document.getElementById("now").checked){
                    $("#date_specified_check").prop('checked', false);
                    $("#end_of_semester_id").prop('checked', false);
                    console.log("called");
                }
                if (!document.getElementById("date_specified_check").checked){
                    console.log("called");
                    $("#specified_date").hide(1000);
                }

            }
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container overflow:scroll;">
        <form class="form-group vidaloka-font" method="post" action="{% url 'new_book_entry_page' user_name %}" enctype="multipart/form-data">{% csrf_token %}
        <div class="col-md-6 col-lg-offset-3 input-group input-group-lg">
            <div class="row">
                {% if edit_book_form %}
                    <h1 class="bar-font jumbotron">Edit Book</h1>
                {% else %}
                <h1 class="bar-font jumbotron">Finalize Book Listing</h1>
                {% endif %}
                </div>
                {% load bootstrap %}
                {{ form|bootstrap}}
            </div>
            <hr>
            <!-- Write your comments here -->
            <!--<div row>
                <div class="col-md-3" id="make_selection_of_date_label">
                    <label>
                    Make Book Available For Purchase:
                     </label>
                </div>

                <div class="col-md-2" id="for_sale_now">
                    <label>
                    Right Now
                    <input type="checkbox" name="for_sale_now_check" onclick="openSpecifiedDateInput()"
                           id="now">
                    </label>
                </div>

                <div class="col-md-3" id="end_of_semester">
                    <label>
                    End Of The Semester
                    <input class="form-control" type="checkbox" onclick="openSpecifiedDateInput()"
                           id="end_of_semester_id" name="end_of_the_semester">
                     </label>
                </div>

                <div class="col-md-3" id="specify_date">
                    <label>
                    Specify A Different Date:
                    <input class="form-control" type="checkbox" onclick="openSpecifiedDateInput()" id="date_specified_check"
                           name="date_specified_check">
                    </label>
                        <div class="row">
                            <div hidden class="col-md-12" hidden id="specified_date">
                                <label>
                                    Input Specific Date:
                                    <input class="form-control" type="date" name="inputed_date">
                                </label>
                            </div>
                        </div>
                </div>
            </div>
        <!-- Remember to add more information here -->
            <div class="row">
            <div class="col-md-3 col-lg-offset-8">
                {% if edit_book_form %}
                    <input class="btn btn-lg btn-success" type="submit" value="Finish Book Edit">
                {% else %}
                <input class="btn btn-lg btn-success" type="submit" value="Register Book">
                {% endif %}
            </div>
            </div>
         <div hidden class="row" id="info">
                <div class="col-md-6">
                    <hr>
                    <p><h4>Right now only the right now option is available regardless of what option you check;
                    being able pre-post your textbook is coming in the near future.</h4></p>
                </div>
         </div>
        </form>
    </div>
{% endblock %}
    {% block javascript_extra %}
    <script>
        openSpecifiedDateInput();
    </script>
    {% endblock %}
</body>
</html>