{% extends 'search_results.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Password Change{% endblock %}</title>
{% block javascript %}
    <script>
        $(document).ready(function() {
            setTimeout(function(){
                $("#confirmation-message").fadeIn('slow').delay(2000).fadeOut('slow');
            }, 3000);
        });
    </script>
{% endblock %}
</head>
<body>
{% block body %}
    <div class="container">
    <div class="row center-block">
        <div class="col-md-6 col-md-offset-3">
            <h1><b class="panel-default">Password Change</b></h1>
        </div>
    </div>
        <div  class="row">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li id="confirmation-message" {% if message.tags == "success" %} class="alert alert-success"{% endif %}><div>{{ message }}</div></li>
            {% endfor %}
        </ul>
            {% endif %}
        </div>
 <form id="password-change-form" class="form-group container"method="post">{% csrf_token %}
     <div class="row">
         <div class="col-md-6 col-md-offset-3">
          {% load bootstrap %}
            {{ form|bootstrap}}
     </div>
     </div>
     <div class="row">
          <div class="col-md-6 col-md-offset-3">
                <input class="btn btn-primary btn-lg" type="submit" value="Change Password">
            </div>
        <div class="col-md-6 col-md-offset-3">
            <a href="{% url 'account_page' user_name %}">Back to Account Page</a>
        </div>
     </div>

    </form>

        {% if form.errors %}
                {% for field in form %}
        {% for error in field.errors %}
            <p> {{ errors }} </p>
        {% endfor %}
        {% endfor %}
            {% endif %}
</div>
{% endblock %}
</body>
</html>