{% extends 'search_bar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Payment{% endblock %}</title>
    {% block javascript %}
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript">
            Stripe.setPublishableKey('pk_test_Jur5p9eubg2jQt5i4o2TxWcN');
            function stripeResponseHandler(status, response){
                var $form = $("#payment-form");

                if(response.error){
                    $form.find('.payment-errors').text(response.error.message);
                    $form.find('button').prop('disabled', false);
                    console.log(response.error)
                    toastr.error(response.error.message, {timeOut: 5000})
                }
                else{
                    var token = response.id;
                    var card = response.card;
                    var created = response.created
                    $form.append($('<input type="hidden" name="stripeToken"/>').val(token));
                    $form.append($('<input type="hidden" name="stripeCardInfo"/>').val(card));
                    $form.append($('<input type="hidden" name="stripeCardInfoDateCreated"/>').val(created));
                    $form.get(0).submit();
                    console.log(response.id);
                    toastr.success("Your" + " " + response.card.brand + " "+"Card Entry Was Successful", {timeOut: 5000})
                }
            }

            jQuery(function($){
                $('#payment-form').submit(function(e){
                    var $form = $(this);
                    $form.find('button').prop('disabled', true);
                        Stripe.card.createToken({
                        number: $('.card-number').val(),
                        cvc: $('.card-cvc').val(),
                        exp_month: $('.card-expiry-month').val(),
                        exp_year: $('.card-expiry-year').val()
                        }, stripeResponseHandler);
                        console.log($('.card-number').val());
                    return false;
                });
            });
        </script>
        <script>
            $(document).ready(function(){
                    $("#payment-form-modal").modal("show");
                    $("#pay-button").click(function(){
                        $("#payment-form-modal").modal("show");
                    })
                });
        </script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container-fluid col-md-12 center">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
            </div>
               <button class="btn btn-danger" id="pay-button" type="button">Make Payment</button>
            </div>
    </div>
    <div id="payment-form-modal" class="modal fade" role="dialog">
        <div  class="text-center row">
        <div class="col-md-6">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li id="confirmation-message" {% if message.tags == "error" %} class="alert alert-danger"{% endif %}><div>{{ message }}</div></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        </div>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class=" modal-body">
                                         <div class="container-fluid col-md-8 center col-lg-offset-2">
                                            <div class="jumbotron">
                                                 <h4 class="panel-title display-td">Enter Payment Information</h4>
                                                        <div class="display-td" >
                                                                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                                        </div>
                                                         </div>
                                                                <form id="payment-form" method="post" role="form" action="">{% csrf_token %}
                                                                    <div class="form-group">
                                                                        {% load bootstrap %}
                                                                        {{ form |bootstrap }}
                                                                    </div>
                                                                    <button class="btn btn-danger" type="submit">Make Payment</button>
                                                                </form>
                                             {% if form.errors %}
                                                        {% for field in form %}
                                                            {% for error in field.errors %}
                                                                <p> {{ errors }} </p>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% endif %}
                                         </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
    </div>
{% endblock %}
</body>
</html>