{% extends 'search_results.html' %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block body %}
    <div class="container">
    <div class="row">
        <h3>
            How to Sell A Book
        </h3>
        <hr>
        <ul>
            <ol>
                Select the ‘List New Book’ option at the top of your screen
            </ol>
            <ol>

               Enter books information (Author, Title, ISBN etc.)

            </ol>
            <ol>
                When your book is bought, we will notify you via email, call, or text with options where you can leave your book based on your current living situation.
            </ol>
            <ol>
                We will send one of our Textdoar drivers out to your location to pick up your textbook, package it, and deliver it for you, including free shipping and handling.

            </ol>
            <ol>
                Two days after the textbook is picked up from your location we will deposit the payment into your bank account.

            </ol>
        </ul>
    </div>
    </div>
{% endblock %}
</body>
</html>