{% extends 'base.html' %}
{% block staticfiles %}{% load staticfiles %}{% load static %}{% endblock %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Sign Up Page{% endblock %}</title>
    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css'%}">
</head>
<body>
    {% block body %}
    <h1>Create an account</h1>

  <form action="." method="post">{% csrf_token %}
          {{ form.as_p}}
      <input type="submit" value="Create the account">
  </form>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ errors }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
{% endblock %}
</body>
</html>