{% extends 'search_bar.html' %}
{% block staticfiles %}{% load staticfiles %}{% load static %}{% endblock %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{{ first_name }}, Home Page{% endblock %}</title>
    {% block jquery-head %}
    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'home_page_design.css' %}"/>
        {% if gue %}
            <script>
         $(function() {
            $( "#help-box" ).dialog({
               autoOpen: true
            });
         });
      </script>
        {% else %}
            <script>
         $(function() {
            $( "#help-box" ).dialog({
               autoOpen: false
            });
         });
      </script>
        {% endif %}
        {% endblock %}
</head>
<body>
    {% block body %}
    <div class="container-fluid">
        <div id="help-box" style="display:none">
            Would you like to buy
            <br>
            Buy a book?
            <br>
            Sell a book?
            <br>
            Rent a book? {{ first_time_user }}
            <br>
            List a book to rent?
            <br>
            Still need help?
        </div>
        <div class="vidaloka-font col-md-6">
                <p><h4><b>Welcome {{ first_name }}!</b></h4></p>
            </div>
        <div class="col-md-6 vidaloka-font">
            <p><h4>Seller Rating: No Books Sold Yet</h4></p>
        </div>
        <div id="carousel-example-generic" class="carousel slide row" data-interval="3000" data-ride="carousel">
         <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

        <!-- Wrapper for slides -->
            <div class="carousel-inner">
             <div class="item active">
             <img src="{% static 'media/image/female_talks.jpeg' %}" style="width: 100%; height: 315px;">
                <div class="carousel-caption">
          <header><b>Elen Of K-State Talks About The Friend Zone</b></header>
         </div>
            </div>
            <div class="item">
            <img src="{% static 'media/image/aggivielle_ad.jpg' %}" style="width: 100%; height: 315px;">
            <div class="carousel-caption">
          <header><b>20% off!</b></header>
            </div>
            </div>
            <div class="item">
            <img src="{% static 'media/image/educational_demo_ad.jpg' %}" style="width: 100%; height: 315px">
            <div class="carousel-caption">
          <header><b>A Million Dollars Donated to Educational Fund!</b></header>
            </div>
            </div>
            </div>

  <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- Carousel -->
            <script>
                $('.carousel').carousel({
                interval: 3000
                })
            </script>
            <div class="row">
                <div class="col-md-4 page-header">
                <p class="vidaloka-font"><a class="btn btn-primary btn-lg" href="{% url 'new_book_entry_page' user_name %}">List New Book</a> </p>
            </div>
            <div class="col-md-4 page-header">
                <p class="vidaloka-font"><a class="btn btn-primary btn-lg" href="{% url 'list_of_your_books' user_name %}">List Of Your Books</a> </p>
            </div>
            <div class="col-md-4 page-header">
            <p class="vidaloka-font"><a class="btn btn-primary btn-lg" href="{% url 'watch_list' user_name %}">Watch List Book</a></p>
            </div>
            <br>
            <form method="post" action=".">{% csrf_token %}

            </form>
        </div>

    </div>
        {% block footer %}
            <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
             <p class="navbar-text pull-left">© Elude Group LLC 2015</p>
            </div>
            </div>
            {% endblock %}
    {% endblock %}
</body>
</html>